@media only screen and (max-width: 992px) {
  .hero {
    flex-direction: column;
    gap: 25px;
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .plan-cards {
    gap: 25px !important;
  }

  .navbar-btns {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .feature {
    flex-direction: column-reverse;
    gap: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .info {
    flex-direction: column;
    gap: 25px;
  }
}
